<launch>

<node name="kitti_mapgen" pkg="erasor" type="kitti_mapgen" output="screen">
    <rosparam param="/map/voxelsize">0.2</rosparam>		
    <rosparam param="/map/target_rosbag">"07_630_to_820_w_interval_2_node.bag"</rosparam>
    <rosparam param="/map/save_path">"/home/eric/data/erasor/07"</rosparam>
    <rosparam param="/map/viz_interval">1</rosparam>
    <rosparam param="/large_scale/is_large_scale">true</rosparam>
</node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find erasor)/rviz/kitti_mapgen.rviz"/>

</launch>
